<form action="/post_job" method="post">
  <label for="title">Job title:</label>
  <input id="title" name="title" type="text">
  <label for="description">Job description:</label>
  <input id="description" name="description" type="text">
  <label for="name">Contact name:</label>
  <input id="name" name="name" type="text">
  <label for="phone">Contact phone:</label>
  <input id="phone" name="phone" type="text">
  <label for="email">Contact email:</label>
  <input id="email" name="email" type="text">
  <button type="submit">Submit</button>
</form>
