<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="Content/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href='Content/css/styles.css' type="text/css">
    <title>Job Board Home</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>Job Board Home</h1>
      </div>
      <h4><a href="/add_job">Add a new job</a></h4>
      <h4><a href="/view_all">View all available jobs</a></h4>
      <h4><a href="/search_form">Search jobs by keyword</a></h4>
    </div>
  </body>
</html>
